* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	max-width: 1280px;
	margin: auto !important;
}
hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, #fff, rgba(0, 0, 0, 0.75), #fff);
}
text {
	fill: #fff;
	font-size: 32px;
	font-weight: bold !important;
	stroke: #2a2a2a;
	stroke-width: 5px;
	paint-order: stroke;
}
.area-text {
	visibility: hidden;
	transition: linear 0.5s;
}
.bar-text {
	font-size: 8px;
	stroke-width: 2px;
}
stop {
	transition: linear 0.4s;
}
::-webkit-scrollbar {
	width: 10px !important;
}
::-webkit-scrollbar-thumb {
	background: #e3f2fd;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: #0c66a7;
}
#jumbotron {
	background: url("assets/bg 1.jpg");
	background-position: center !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 300px;
}
#jumbotron > p,
h1 {
	text-shadow: 1px 1px #000;
}
#map-bar-container {
	display: flex;
	flex-direction: row;
}
#bar-chart {
	max-height: 400px !important;
	min-height: 350px !important;
	min-width: 350px !important;
}
#line-chart {
	min-height: 200px !important;
	max-height: 300px !important;
	cursor: pointer;
}
#dropdownMenu {
	background: #e3f2fd;
}
#map-container {
	background: url("assets/lake_bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin: auto;
	display: flex;
	justify-content: center;
	height: 350px;
	width: 450px;
}

#tadlac-lake {
	height: 350px;
	width: 350px;
	margin: auto;
	display: flex;
	justify-content: center;
}

#bar-scale {
	fill: url(#linear-grad);
	height: 350px !important;
	width: 25px !important;
	align-self: center;
}
#bar-chart-container {
	margin: auto;
	display: flex;
	justify-content: center;
	max-width: 600px;
}
#area-1 {
	fill: url(#grad1);
}
#area-2 {
	fill: url(#grad2);
}

#area-3 {
	fill: url(#grad3);
}
path {
	cursor: pointer;
	transition: linear 0.4s !important;
}
path:hover {
	stroke: #000;
	stroke-width: 6;
	/* fill: #9cc0fa !important; */
	/* fill: transparent !important; */
}
.btn-outline-primary {
	border-color: #e3f2fd !important;
	color: #000 !important;
}
.btn-outline-primary:hover {
	background-color: #e3f2fd !important;
}
.alert {
	z-index: 1 !important;
	position: fixed !important;
	width: 100% !important;
	max-width: 1280px;
	margin: 10px auto !important;
	visibility: hidden;
}
.show {
	visibility: visible;
}
@media only screen and (max-width: 600px) {
	#map-bar-container {
		display: flex;
		flex-direction: column;
	}
	#bar-chart {
		width: 55vw !important;
		height: 300px !important;
	}
	#jumbotron {
		height: 500px;
	}
	#tadlac-lake {
		height: 300px;
		width: 300px;
		margin: auto;
		display: flex;
		justify-content: center;
	}

	#bar-scale {
		height: 300px !important;
	}
	#map-container {
		height: 300px;
		width: 300px;
	}
}
/* @media screen and (max-width: 1280px) and (min-width: 599px) {
	#map-bar-container {
		display: flex;
		flex-direction: column;
	}
	#bar-chart {
		width: 55vw !important;
	}
} */
@media screen and (max-width: 99999px) and (min-width: 1200px) {
}
